.sidenav {
    width: 190px;
}

.menu-icon {
    margin-left: 5px;
    margin-top: 10px;
}

.menu-lateral {
    display: flex;
    margin-top: 5px;
}

.itens-menu {
    margin-top: 10px;
    margin-left: 15px;
}

.example-spacer {
    flex: 1 1 auto;
}