<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>


    </button>
        <h1>Lista de Tarefas</h1>
        <span class="example-spacer"></span>

        <div class="int">
            <mat-icon class="itens-menu">account_circle</mat-icon>
            <mat-icon class="itens-menu">exit_to_app</mat-icon>

        </div>

    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>

    <mat-sidenav class="sidenav" #sidenav mode="side" opened="true">
        <mat-nav-list>
            <div class="menu-lateral">
                <mat-icon class="menu-icon">note_add</mat-icon>
                <a mat-list-item routerLink="/newtask">Nova Tarefa</a>
            </div>
            <div class="menu-lateral">
                <mat-icon class="menu-icon">schedule</mat-icon>
                <a mat-list-item routerLink="/todo">Pendentes de Inicio</a>
            </div>
            <div class="menu-lateral">
                <mat-icon class="menu-icon">timelapse</mat-icon>
                <a mat-list-item routerLink="/doing">Desenvolvimento</a>
            </div>
            <div class="menu-lateral">
                <mat-icon class="menu-icon">task</mat-icon>
                <a mat-list-item routerLink="/done">Terminadas</a>
            </div>
            <div class="menu-lateral">
                <mat-icon class="menu-icon">help</mat-icon>
                <a mat-list-item routerLink="/about">Sobre</a>
            </div>
        </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>
        <div style="min-height: calc(100vh - 64px)">
            <main>
                <mat-card>
                    <router-outlet></router-outlet>

                </mat-card>
            </main>

        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
